@font-face {
  font-family: DSEG7;
  src: url(/fonts/DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff) format(woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DSEG7;
  src: url(/fonts/DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff) format(woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: DSEG7;
  src: url(/fonts/DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.woff) format(woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: DSEG7;
  src: url(/fonts/DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff) format(woff);
  font-weight: bold;
  font-style: italic;
}